/problema1/problema1/nbproject/private/
/problema1/problema1/build/
/problema1/problema1.1/nbproject/private/
/problema1/problema1.1/build/
/problema1/problema1_cadena/nbproject/private/
/problema1/problema1_cadena/build/
/problema1.1/build/
/problema1.1/nbproject/private/
